ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #808080;
}

li {
 list-style-type: none;
 float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.column-1 {
  float: left;
  width: 8.33%;
  padding: 5px;
}

.column-2 {
  float: left;
  width: 16.66%;
  padding: 5px;
}

.column-3 {
  float: left;
  width: 33.33%;
}

.column-8 {
  float: left;
  width: 66.66%;
  padding: 5px;
}

.row{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

.flat-row{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.top-margin {
	margin-top: 5px; 
}

.right-align {
  float: right;
}

.search-criteria {
  height:100px;
  border-style: solid;
  border-width: 2px;
}

.thin-top{
	border-top-width: 1px;
}

.thin-bottom{
	border-bottom-width: 1px;
}
.criteria{
  font-weight: bold; 
  margin-top : 5px;
  margin-left : 5px;
}

.data-panel {
  height: 405px;
  border-style: solid;
  border-width: 2px;    
}

.fill-blue{
   background-color: coral;
}

.box {
  height: 30px;
  width: 100%;
  padding-left: 2px; 
  background-color: lightblue;
}

.cell-border{
   outline: 1px solid;
}

input[type=text], select {
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-left: 5px; 
}
