.link, .link:hover, .link:visited {
  color: white;
}

.navbar {
  background-color: #383838;
}

.navbar-toggler {
  background-color: #181818;
}

@media(min-width:992px) {
  .navbar {
    height: 8% !important;
  }

  .content {
    height: 92% !important;
  }
}

@media(min-width:500px) {
  .navbar-collapse {
    padding-left: 3%;
  }

  .navbar {
    height: 10%;
  }

  .content {
    height: 90%;
  }
}


.menu-expand {
  height: 40%;
}

.content-menu-expand {
  height: 60%;
}
